@import 'remixicon/fonts/remixicon.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --whatsApp-background: #202020;
    --contenu-background: #2c2c2c;
    --green: #1daa61;

}

.container input {
    color: white;
}

textarea,
input:focus {
    outline: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=file] {
    display: none;
}

input[type=checkbox] {
    border-radius: 7px;
    height: 25px;
    width: 25px;
    background: var(--contenu-background);
    border: 1px solid var(--contenu-background);
}

input[type="checkbox"]:checked {
    background: var(--green);
}

body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

i {
    font-size: 25px;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 25%;
    color: #000;
}

.container.hide,
.login-container.hide {
    display: none;
}

.login-container h1 {
    color: #333;
}

.login-form {
    margin-top: 20px;
}

.formConnexion {
    margin: 2% 0%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: var(--green);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.form-group button:hover {
    background-color: #005c4b;
}

.container {
    background-color: var(--whatsApp-background);
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
}

.container.reduit {
    background-color: var(--whatsApp-background);
    height: 80%;
    width: 80%;
}

.head {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

.title {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 175px;
    font-size: x-large;
}

.title div {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Whatsapp {
    color: var(--green);
    font-size: 50px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 75px;
    font-size: x-large;
}

.button {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--contenu-background);

    .inf,
    .Réduire {
        color: var(--whatsApp-background);
    }
}

.button.quit:hover {
    background-color: red;
}

.body {
    height: calc(100% - 70px);
    display: flex;
}

.menu {
    width: 75px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menus {
    height: 50px;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.propioProfil img {
    height: 70%;
    width: auto;
    border-radius: 50%;
}

.selection {
    background-color: var(--green);
    height: 45%;
    width: 9%;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

.menus.selected {
    background-color: var(--contenu-background);
}

.menus:hover {
    background-color: var(--contenu-background);
}

.contenu {
    height: 100%;
    background-color: var(--contenu-background);
    border-radius: 10px;
    flex: calc(100% - 75px);
    display: flex;
}

.sideDiscussion {
    height: 100%;
    width: 30%;
    min-width: 500px;
    border-right: 1px solid var(--whatsApp-background);
}

.enteteDiv {
    height: 150px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.enteteDiv2,
.enteteDiv1 {
    display: flex;
    flex: 50%;
    justify-content: space-between;
    align-items: center;
}

.enteteDiv1 {
    position: relative;
}

.new {
    padding: 20px 10px;
    position: absolute;
    top: 65px;
    left: 355px;
    border-radius: 10px;
    background-color: #2a2a2af4;
    width: 400px;
    max-height: calc(100vh - 150px);
    z-index: 3;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.1);
}

.fixe {
    padding-bottom: 20px;
}

.fixeContact.hide,
.new.hide {
    display: none;
}

.new .form {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enteteDiv1 span {
    font-size: xx-large;
    margin-left: 5%;
}

.allContacts {
    max-height: 200px;
    overflow: auto;
}

.new .contact {
    height: 80px;
}

.new .profil {
    height: 60px;
    width: 60px;
}

.enteteDiv1 .mess,
.group {
    width: 80%;
    font-size: x-large;
    max-width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.creation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.creation button {
    height: 40px;
    width: 49%;
    border: 0;
    border-radius: 5px;
}

.creer,
.suivant {
    background-color: #1daa61;
    color: var(--whatsApp-background);
    font-size: larger;
}

.creer:hover,
.suivant:hover {
    background-color: #188d50;
}

.annuler {
    background-color: var(--contenu-background);
    color: white;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.772);
    font-size: larger;
}

.annuler:hover {
    background-color: #313131;
}

.mess.actu {
    font-size: large;
    color: rgb(194, 192, 192);
    margin-left: 0;
}

.discussionBtn {
    width: 150px;
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: space-between;
}

.discussionBtn div {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.discussionBtn div:hover {
    background-color: rgba(81, 81, 81, 0.605);
}

.form {
    height: 50px;
    width: 93%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(205, 204, 204, 0.605);
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 81, 81);
    align-items: center;
}

.form i {
    font-size: large;
    margin-left: 2%;
}

.recherche {
    color: rgb(255, 255, 255);
    height: 80%;
    width: 90%;
    border: 0;
    border-radius: 10px;
    background-color: rgb(81, 81, 81);
    margin-left: 5px;
    font-size: larger;
}

#groupName:focus {
    background-color: rgb(81, 81, 81);
}

/* #Rechercher:focus{
    background-color: #222222;
} */

.liste {
    height: calc(100% - 150px);
    width: 95%;
    margin: auto;
    overflow: auto;
}

.contactSelect,
.contact {
    height: 100px;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 15px;
}

.contactSelect {
    height: 80px;
}


.optionsDiv {
    padding: 5px 0;
    height: fit-content;
    width: 300px;
    font-size: larger;
    z-index: 3;
    background-color: var(--contenu-background);
    border: 2px solid var(--whatsApp-background);
    border-radius: 10px;
    position: absolute;
}

.option {
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 15px;
}

.optionText {
    width: calc(100% - 30px);
}

.contactSelect .group {
    width: 70%;
    font-size: x-large;
    max-width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option:hover,
.contactSelect:hover,
.contact:hover {
    cursor: pointer;
    background-color: rgba(81, 81, 81, 0.221);
}

.tof:hover {
    background-color: var(--whatsApp-background);
}

.profil {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
}

.profilAdd img ,
.profil img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.textMess {
    height: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messNbr,
.nomHeure {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nbrArch{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nbrArch *{
    margin-left: 5px;
}

.arch{
    background-color: rgb(94, 94, 94);
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textNom {
    padding-top: 1%;
    margin-left: 20px;
    width: 90%;
}

.nom {
    width: 100%;
    font-size: x-large;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupNoms {
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.groupNoms:hover{
    text-decoration: underline;
    cursor: pointer;
}

.groupNums {
    font-size: 15px;
    color: rgb(194, 192, 192);
    min-width: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.online {
    margin-top: 3px;
    font-size: larger;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nomHeure .nom {
    height: 100%;
    max-width: 700px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
}

.heure {
    font-size: larger;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(194, 192, 192);
}

.actuTexte,
.nonLus {
    color: rgb(194, 192, 192);
    background-color: rgba(194, 192, 192, 0.167);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actuTexte {
    position: absolute;
    z-index: 2;
}

.messNbr .mess {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mess {
    font-size: larger;
    color: rgb(194, 192, 192);
}

.mess .ri-lock-2-line {
    display: none;
}

.totalArchNonLus,
.totalNonLus,
.nbrMarque,
.nbr {
    display: flex;
    align-items: center;
    height: 23px;
    padding: 0 7px;
    border-radius: 15px;
    color: var(--whatsApp-background);
    background-color: var(--green);
}

.nbrMarque {
    min-width: 23px;
}

.nonLu {
    color: var(--green);
}

.edit.selected,
.contact.selected {
    background-color: rgba(81, 81, 81, 0.605);
}

.edit.selected {
    border: 2px solid var(--whatsApp-background);
}

.résultat {
    height: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.acceuil * {
    margin-bottom: 2%;
}

.icone i {
    font-size: 100px;
    color: rgba(116, 116, 116, 0.605);
}

.description1 {
    font-size: xx-large;
}

.description2 {
    width: 55%;
    text-align: center;
}

.description3 {
    text-align: center;
    position: absolute;
    bottom: 15%;
}

.acceuil,
.chat {
    height: 100%;
    flex: 70%;
    border-left: 1px solid var(--whatsApp-background);
}

.discussionBtn.hide,
.nbrMarque.hide,
.form.hide,
.tous.hide,
.allContacts.hide,
.acceuil.hide,
.chat.hide {
    display: none;
}

.infoUser {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--whatsApp-background);
    cursor: pointer;
}

.info {
    height: 100px;
    width: 70%;
    display: flex;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}

.profilUser {
    height: 100%;
    width: fit-content;
}

.profilUser img {
    height: 100%;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.discussion {
    height: calc(100% - 100px);
    position: relative;
    background-image: url("Imgs/BCG.jpg");
}

.messages {
    height: calc(100% - 75px);
    overflow: auto;
    padding: 15px;
}

.message {
    width: 100%;
    word-wrap: break-word;
    display: flex;
    min-height: 75px;
}

.them {
    justify-content: flex-start;
}

.you {
    justify-content: flex-end;
}

.content {
    padding: 5px 20px;
    height: 100%;
    max-width: 580px;
    margin: 5px;
    min-width: 120px;
    position: relative;
}

.content .text {
    font-size: larger;
    width: 100%;
}

.content .hour {
    font-size: 15px;
    color: rgb(194, 192, 192);
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.content .hour i {
    font-size: 20px;
}
.content .hour * {
    margin-left: 5px;
}

.lu {
    color: #3376d0;
}

.them>.content {
    background-color: #353535;
    border-radius: 0px 15px 15px 15px;
}

.you>.content {
    background-color: #005c4b;
    border-radius: 15px 0px 15px 15px;
}

.add>.content {
    background-color: var(--contenu-background);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
    padding: 20px;
}

.profilAdd{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}

.bloquer{
    color: red;
}

.enregistrer{
    color: var(--green);
}

.infos{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos span{
    font-size: larger; 
}
.infos button{
    font-size: large;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--contenu-background);
    border: rgba(194, 192, 192, 0.571) 1px solid;
}



.infos button:hover{
    cursor: pointer;
}

.infos .mess{
    font-size: large; 
}

.infos *{
    display: flex;
    margin: 5px;
    justify-content: center;   
}

.App>.content {
    background-color: #6b665cdd;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    max-width: 1100px;
    margin-bottom: 10px;
    font-size: small;
}

.App i {
    font-size: small;
}

.parti>.content,
.admin>.content,
.quitté>.content,
.ajouté>.content,
.créer>.content {
    color: rgb(194, 192, 192);
    background-color: rgba(194, 192, 192, 0.342);
    margin: auto;
    max-width: fit-content;
    max-width: 1100px;
    font-size: small;
    border-radius: 10px;
}

.envoiDiv {
    background-color: var(--contenu-background);
    border-top: 2px solid var(--whatsApp-background);
    width: 100%;
    height: 75px;
    max-height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}

.case {
    width: 5%;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

.retour {
    border-radius: 5px;
}

.saisir {
    width: 80%;
    height: 70%;
}

.saisir textarea {
    height: 100%;
    width: 100%;
    background-color: var(--contenu-background);
    border: 0;
    font-size: larger;
    color: white;
}

.saisir textarea:hover,
.case:hover {
    background-color: rgba(81, 81, 81, 0.605);
}
.loginError,
.messasesError{
    color: red;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.adminIcon{
    color: goldenrod;
    font-size: larger;
}
.debloquer{
    color: var(--green);
    cursor: pointer;
}